* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  color: rgb(31, 31, 31);
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input,
button {
  border: none;
}

body {
  background-color: rgba(41, 62, 49, 1);
}
.container {
  max-width: 1903px;
  max-height: 100%;
}
